/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Fogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Anif{
    margin-left: 25%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type:circle;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#goal{
    color: #333;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    
}

@media (min-width: 768px) {
    main {
        max-width: 750px;
        margin: 0 auto;
    }
}
